/* Контейнер для табов */
.admin_tabs_container {
    margin-top: 15px;
    background-color: #484848;
    border-radius: 4px;
    overflow: hidden;
}

/* Заголовок табов */
.admin_tabs_header {
    display: flex;
    background-color: #484848;
    border-bottom: 2px solid #747474;
}

/* Кнопки табов */
.tab_button {
    flex: 1;
    padding: 16px 15px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
    width: 100%;
}

.tab_button:hover {
    background-color: #484848;
}

.tab_button.active {
    background-color: #747474;
    font-weight: 500;
}

/* Контент табов */
.admin_tabs_content {
    background-color: #484848;
    color: #ffffff;
}

/* Содержимое каждого таба */
.tab_content {
    display: none;
}

.tab_content.active {
    display: block;
}

/* Формы внутри табов */
.tab_content .admin_form {
    margin-top: 0px;
    padding: 0px;
    background-color: #484848;
    border-radius: 4px;
    width: 100%;
}

.tab_content .admin_form:last-child {
    margin-bottom: 0;
}

/* Стили для форм */
.form_word {
    display: block;
    margin-top: 25px;
}


/* Стиль для заголовка */
.head_word {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.form_actions{
    margin-top: 15px;
}


@media (max-width: 992px) {
    .admin_tabs_header {
        flex-wrap: wrap;
    }
    
    .tab_button {
        min-width: 100px;
        padding: 14px 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .admin_tabs_header {
        flex-direction: column;
    }
    
    .tab_button {
        width: 100%;
        min-width: auto;
        padding: 14px 18px;
        text-align: left;
        border-bottom: 1px solid #747474;
    }
    
    .tab_button:last-child {
        border-bottom: none;
    }
    
    .tab_button.active {
        border-right: none;
    }
    
}

@media (max-width: 480px) {
    .admin_tabs_content {
        padding: 15px;
    }
    
    .tab_content .admin_form {
        padding: 0px;
    }
}